*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"]{
    -moz-appearance: textfield;
}

body{
    background-image: url('sd');
    padding-top: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header{
   text-align: center;
    color: dodgerblue;
}

.tagline{
    text-align: center;
    color: rgb(243, 239, 239);
}



.accountCompanyForm{
    width: 180px;
    height: 125px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 3px 0;
}

.accountCompanyForm .icon{
    width: 35px;
    height: 35px;
    background-color: dodgerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 50%;
    font-size: 16px;
}

.taxInput{
    padding: 9px 5px;
    border: none;
    background-color: rgb(249, 249, 249);
    width: 250px;
    border-radius: 5px;
    outline: none;
}

#TaxForm button{
    padding: 8px;
    background-color: white;
    border: none;
    background-color: aliceblue;
    padding: 10px;
    width: fit-content;
    width: 100px;
    border-radius: 5px;
    cursor: pointer;
}

#headerInfo{
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

#header{
    width: 100%;
    

}

.accountCompanyForm button{
    padding: 8px;
    background-color: rgba(27, 178, 163, 0.979);
    border: none;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
    border-radius: 3px;
    font-size: 15px;
    cursor: pointer;
}

#accountBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
}

.flip{
    transform: rotateX(180deg);
    -webkit-transition: 0.9s;
 
}


#TaxForm{
    display: none;
}

#myForm{
    width: 330px;
    height: 180px;
    background-color: dodgerblue;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    position: absolute;
    border-radius: 5px;
    display: none;
    position: absolute;
    margin-top: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#myForm input{
    padding: 10px;
    border: none;
    outline: none;
}

#myForm button{
    padding: 7px 30px;
    width: fit-content;
}

#myForm i{
   font-size: 20px;
    color: rgb(221, 221, 221);
}

#companyForm{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

#inputFields{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(226, 222, 222);
    padding: 10px;
    width: 600px;
    overflow: scroll;
    height: 92vh;
    padding: 30px 20px;
    display: none;
    z-index: 100;
  
}

#header{
    border: 1px solid black;
    padding: 10px;
    margin-top: 20px;
}

#headerContent{
    display: flex;
    justify-content: space-between;
    padding: 8px 10px;
    background-color: rgb(0, 0, 0);
    color: white;
    font-family: sans-serif;
}

#formBox{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    gap: 10px;
}

#formBox input{
    padding: 8px;
    width: 350px;
}

#formBox button{
    padding: 8px;
    width: fit-content;
    width: 100px;
    background-color: black;
    color: white;
    cursor: pointer;
    margin-top: 3px;
    border: none;
    outline: none;
}

#billHeader{
    background-color: rgb(0, 0, 0);
    height: fit-content;
    width: 100%;
    display: flex;
    margin-top: 20px;
    color: white;
    font-family: Calibri;
    font-size: 15px;
}

#billHeader p{
    width: 100%;
    padding: 8px;
}

#inputForm{
    display: flex;
    width: 100%;
}

#billInputs input{
    width: 100%;
    padding: 8px 3px;
    border: none;
    outline: none;
    border: 1.2px solid gray;
}

#totalBox{
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}


#totalBox p{
    display: flex;
   width: 300px;
   justify-content: space-between;
   padding: 5px 10px;
   color: rgb(21, 195, 210);
}


#paid{
    margin-left: 55px;
    padding: 6px ;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(21, 195, 210);
    color: rgb(21, 195, 210);
    text-align: right;
    width: 100px;
}


 ::placeholder{
    color: #ddd;
    font-size: 13px;
}

#buttonBox{
    padding: 10px 0;
}

#buttonBox button{
    padding: 7px 20px;
    background-color: black;
    border: none;
    color: rgb(255, 255, 255);
   letter-spacing: 1px;
    cursor: pointer;
    font-size: 13px;
}








#manage-section{
    position: fixed;
    top: 0;
    right: 0;
    background-color: dodgerblue;
    height: 100vh;
    width: 100%;
    display: none;
    
}


#myContents{
    padding: 5px 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}


#myContents h1{
    font-size: 1.5rem;
    color: white;
    text-align: center;
}

#myContents input{
    width: 300px;
    padding: 3px;
    outline: none;
}

#myContents input::placeholder{
    color: rgb(0, 0, 0);
}





#toggle{
    position: absolute;
    top: 8px;
    right: 8px;
    background-color: white;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    box-shadow: 0 0 2px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}



#none{
    position: absolute;
    top: 5px;
    right: 5px;
}

#times{
    color: rgb(255, 255, 255);
    background-color: green;
    width: 200px;
    height: 80px;
}


#timeSpan{
    color: coral;
}

#get{
    position: absolute;
    top: 10px;
    right: 0;
    padding: 0;
}








/* document.getElementById("submit").onclick = function(){
    var i, storeItem = [], store_price = [], store_Qty = [], store_amount = [];
    var buyer_name = document.getElementById("name").value;
    var buyer_email = document.getElementById("email").value;
    var buyer_address = document.getElementById("address").value;
    var buyer_number = document.getElementById("phone").value

    var item = document.getElementsByClassName("item");
    for(i=0; i<item.length; i++){
        storeItem[0] = item[i].value;
   } 
    var buyer_price = document.getElementsByClassName("price");
     for(i=0; i<buyer_price.length; i++){
        store_price[i] = buyer_price[i].value;
     }
    var buyer_qty = document.getElementsByClassName("qnt");
    for(i=0; i<buyer_qty.length; i++){
        store_Qty[i] = buyer_qty[i].value
    }
    var storeAmount = document.getElementsByClassName("store_amount");
    for(i=0; i<storeAmount.length; i++){
        store_amount[i] = storeAmount[i].value
    }
                                                                                                                                                                                          var store_subtotal, store_total, store_paid, store_dues, store_tax;
    var buyerObject = {buyer_name:buyer_name, buyer_email:buyer_email, buyer_address:buyer_address, buyer_number:buyer_number, storeItem:storeItem, store_price:store_price, store_Qty:store_Qty, store_amount:store_amount, store_subtotal:store_subtotal, store_total:store_total, store_paid:store_paid, store_dues:store_dues, store_tax:store_tax}
    

}






var store_subtotal, store_total, store_paid, store_dues, store_tax;
function calculateSubTotal() {
    var items = document.getElementsByClassName('bill-input');
    var subTotal = 0;

    // Calculate subTotal
    for (var i = 0; i < items.length; i++) {
        var price = parseFloat(items[i].querySelector('.price').value) || 0;
        var quantity = parseFloat(items[i].querySelector('.qnt').value) || 1;
        var amount = price * quantity;
        
        items[i].querySelector('.amount').value = 'Rs ' + amount.toFixed(2);
        subTotal += amount;
    }
    store_subtotal = subTotal.toFixed(2)
    document.getElementById('toatal').textContent = '₹ ' + subTotal.toFixed(2);

    // Retrieve the taxNumber from localStorage
    var savedFormData = JSON.parse(localStorage.getItem('formData'));
    var taxNumber = savedFormData ? parseFloat(savedFormData.taxNumber) : 0;
    
    // Calculate tax
    var tax = (subTotal * taxNumber) / 100;
    store_tax = tax.toFixed(2)
    document.getElementById('tax').textContent = '₹ ' + tax.toFixed(2);

    // Calculate total
    var total = subTotal + tax;
    store_total = total.toFixed(2);
    document.getElementById('total').textContent = '₹ ' + total.toFixed(2);



    
 document.getElementById("paid").oninput = function(){
    store_paid = this.value;
    var totalMoney = total;
    var finalMoney = totalMoney - this.value;
    store_dues = finalMoney.toFixed(2)
    document.getElementById('balanceDue').textContent = "Balance Due ____" + finalMoney.toFixed(2)
 }


} */