*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

#container{
    height: 100vh;
    overflow-x: hidden
}




input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}




form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 20px);
    justify-content: center;
}


form input, button{
    padding: 12px 5px;
    outline: none;
    border-radius: 5px;
}



form h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-transform: capitalize;
}



form button{
    padding: 6px 6px;
}

#buttonBox{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

#form input{
    padding: 18px 20px
}


#signup{
    background-color: rgb(3, 92, 144);
    padding: 10px 20px;
    max-width: 380px;
  border-radius: 10px;
  z-index: 10;
  display: none;
  color: white;
  box-shadow: 0 0 5px 0 black;
  margin-bottom: 20px;
  border: 1px solid black;
}

#signup p{
    cursor: pointer;
}

#cutSignup{
    margin-top: 5px;
    cursor: pointer;
}

#loginBox{
    background-color: rgb(3, 92, 144);
    padding: 20px;
    max-width: 380px;
    border-radius: 10px;
    z-index: 10;
    margin-left: 8px;
  

}

#openPage{
  display: none;
}

#openLogin{
  margin-top: 10px;
}

#buttonBox{
  margin-top: 15px;
}

#buttonBox button{
  padding: 10px 30px;
  cursor: pointer;
  border: none;
  font-size: 20px;
}


#loginBox p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}


#loginBox input{
  width: 100%;
}



#boxesDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    width: 100%;
    background-color: rgb(3, 92, 144);
    color: white;
}

#content h1{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

#content h1{
    font-size: 2rem;
}

#openSign{
    cursor: pointer;
}


#cutSignup, #cutLogin{
    text-align: right;
    font-size: 22px;
    color: white;
    cursor: pointer;
}





header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 60px;
  background-color: white;
  box-shadow:  0 0 3px 0;
}
.nav_logo {
  padding: 10px 0;
  color: rgb(0, 0, 0);
}
.menu_items {
  display: flex;
  list-style: none;
  gap: 20px;
}
a {
  color: #fff;
  text-decoration: none;
}

/* Hero */
.hero {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-color: white;
  color: black;
}
.curveImg {
  position: absolute;
  bottom: 0;
  width: 100%;
  pointer-events: none;
  display: none;
}
.hero .row {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 60px);
  width: 100%;
  justify-content: space-around;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 60px;
  left: 0;
  padding: 20px 60px;
}
.hero .row h2,
.hero .row p {
  color: #000000;
}
.hero .row h2 {
  font-size: 36px;
  margin-bottom: 16px;
}
.hero .column {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.column h2{
  font-family: Arial;
  font-weight: normal;
}

.column p{
  font-size: 20px;
}


#loginBox h2{
  color: white;
}


#signup{
  box-shadow: none;
}

#loginBox input{
  border: none;
}




#openLogin{
  color: white;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#validation{
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 17px;
}


#signup h2, p{
  color: white;
}


.buttons {
  display: flex;
  margin-top: 25px;
  gap: 10px;
}
.btn {
  padding: 14px 26px;
  background: #000000;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
  color: white;
}




.logbtn{
  padding: 6px 26px;
  background: #000000;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: rgb(255, 255, 255);
}

.hero_img {
  width: 80%;
  z-index: 10;
  position: relative;
}
#menu_toggle {
  display: none;
}

.nav_logo a{
  color: rgb(0, 0, 0);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.column h2, p{
  color: black;
}


.heros{
  display: none;
}


.bg{
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}


/* Reponsive */
@media (width < 860px) {
  #menu_toggle {
    display: block;
  }



  .hero_img {
  display: flex;
  justify-content: center;
  width: 100%;
  }

  .menu_items {
    position: fixed;
    top: 0;
    width: 260px;
    background-color: #fff;
    height: 100%;
    left: -100%;
    padding: 50px 30px 30px;
    flex-direction: column;
    transition: all 0.5s ease;
  }
  .showMenu .menu_items {
    left: 0;
  }
  a {
    color: #333;
  }
  #menu_toggle {
    width: 20px;
    cursor: pointer;
  }
  .menu_items #menu_toggle {
    position: absolute;
    top: 20px;
    right: 20px;
  }
  .hero {
    padding-top: 130px;
  }
  .hero .row {
    flex-direction: column;
    padding: 0 20px;
    justify-content: center;
  }
  .hero .row .column {
    width: 100%;
  }
}

@media (width < 600px) {
  .hero {
    padding-top: 80px;
  }
  .hero .row h2 {
    font-size: 26px;
  }
  .buttons {
    justify-content: center;
  }
  .btn {
    padding: 14px 20px;
  }

  .column h2, p{
    text-align: center;
  }

  

}



@media(max-width: 413px){

 .hero .row {
   background-color: rgb(3, 92, 144);
   padding: 80px 10px;
   }
   #loginBox{
    background-color: rgb(14, 112, 169);
    box-shadow: 0 0 3px 0 white;
}

.hero .row h2,
.hero .row p {
  color: #ffffff;
}

#loginBox{
  margin-top: 50px;
}

#signup{
  margin-top: 50px;
  background-color: rgb(14, 112, 169);
  box-shadow: 0 0 3px 0 white;
  border: none;
}
  

}

