@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
}



#container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}




form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: calc(100% - 20px);
    justify-content: center;
}


form input, button{
    padding: 10px 5px;
    outline: none;
    border-radius: 5px;
}


form h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-transform: capitalize;
}



#loginBox{
    margin-top: 30px;
    margin-bottom: 50px;
}

form button{
    padding: 6px 6px;
}

#buttonBox{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}



#signup{
    background-color: rgb(3, 92, 144);
    padding: 10px 20px;
    max-width: 360px;
  border-radius: 10px;
  position: absolute;
  z-index: 1000;
  display: none;
  color: white;
  box-shadow: 0 0 5px 0 black;
  margin-bottom: 20px;
}

#cutSignup{
    margin-top: 5px;
    cursor: pointer;
}

#loginBox{
    background-color: rgb(3, 92, 144);
    padding: 20px;
    max-width: 350px;
    border-radius: 10px;
    box-shadow: 0 0 5px 0 black;
}



#boxesDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    width: 100%;
    background-color: rgb(3, 92, 144);
    color: white;
}

#content h1, p{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}

#content h1{
    font-size: 2rem;
}

#openSign{
    cursor: pointer;
}

