*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}


#container{
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
}

#header{
    height: 160px;
    background-color: rgb(3, 92, 144);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}


#homePage{
    display: flex;
    justify-content: center;
   margin-top: 150px;
   gap: 20px;
   flex-wrap: wrap;
}

.contents{
    width: 170px;
    height: 150px;
    background-color:rgb(3, 92, 144);
    box-shadow: 0 0 3px 0px #888;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
}

.contents i{
    width: 35px;
    height: 35px;
    background-color: rgb(255, 255, 255);
    color: rgb(3, 92, 144);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 13px;
    cursor: pointer;
}

.contents h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 3px;
    font-weight: lighter;
}


#img2{
    width: 100px;
    height: 100px;
    box-shadow: 0 0 3px 0;
    border-radius: 50%;
    background-color: white;
}

#logoutMessage{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 30px;
    display: none;
}

#welcomeUserName{
    margin-top: 10px;
    color: white;
    font-size: 26px;
    width: 100%;
    height: fit-content;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

#fileInput{
    column-rule: white;
    border: 1px solid white;
    outline: none;
    background-color: white;
}

#cutForm{
    color: white;
}

#formBox{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    background-color: rgb(3, 92, 144);
    height: fit-content;
     width: 360px;
     display: none;
    padding: 10px 10px;
    border-radius: 5px;

    box-shadow: 0 0 5px 0 white;
}

#cut{
    color: white;
}

#FineYear{
    width: 100%;
}

#formBox h1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    font-size: 25px;
}


#form{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#form input{
   padding: 10px 10px;
   box-shadow: inset  0 0 3px 0 #4c4c4c;
   outline: none;
   border: none;
   border: 1px solid black;
   border-radius: 3px;

}

#form input:hover{
    box-shadow:  0 0 3px 0 #4c4c4c;
}


#create{
    padding: 10px 5px;
    border: none;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
    background-color: rgb(3, 92, 144);
    color: white;
    box-shadow: 0 0 5px 0 #888;
    letter-spacing: 0.5px;
    cursor: pointer;

}

#create:hover{
    box-shadow: 0 0 3px 0 #383838;
}


#x{
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    border: none;
}



@media(max-width: 394px){
    .contents{
        width: 140px;
        height: 120px;
    }

    #form{
        padding: 20px 10px ;
    }

    #formBox{
        min-height: 100vh;
        width: 100%;
        overflow-y: scroll;
    }

    #cutForm{
        padding-top: 40px;
    }


    #formBox input{
        padding: 15px 6px;
    }

    .contents h3{
        font-weight: bold;
    }

    .contents i{
        width: 40px;
        height: 40px;
    }

}