*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
   min-height: 100vh;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.header{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: #035C90;
    
}

#firstBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(249, 249, 249);
    height: fit-content;
    height: 42px;
    border-radius: 3px;
    border: 2px solid  #e4e4e4;
}


.input{
    display: flex;
    height: 100%;
}

.input p{
    background-color:  #000000;
    color: aliceblue;
    display: flex;
    align-items: center;
    padding: 3px 5px;
    font-family: Calibri;
    border-right: 2.5px solid #000000;
    
}

.input span{
   display: flex;
   align-items: center;
   padding: 0 5px;
}


#date{
    border: none;
    outline: none;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



#secondBox{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 2.5px 0 #888;
    height: fit-content;
    height: 42px;
    border-radius: 3px;
    border: 2px solid  #bbbbbb;
}



#partyName{
    height: 30px;
    margin-top: 4.5px;
    border: none;
    outline: none;
    padding: 12px 5px;
    border-radius: 2px;
    box-shadow: 0 0 2px 0 #313131;
    width: 280px;
}


#hintBox, #hintsBox{
    width: 200px;
    height: 130px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 3px 0 #555;
    border: 2px groove whitesmoke;
    z-index: 1000;
    position: absolute;
    top: 120px;
    left: 142px;
    color: black;
    padding: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    display: none;
    overflow-y: scroll;
}


#buttonBox, #saleButtonBox{
    display: flex;
    justify-content: center;
    width: 95%;
    flex-direction: column;
}


#saleButtonBox{
    margin-left: 10px;
    margin-bottom: 10px;
}

#buttons{
    display: flex;
    justify-content: center;
}

#buttons button{
    background-color:  rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
    font-size: 15px;
    letter-spacing: 0.5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    padding: 8px 3px;
    border-radius: 0px;
    text-align: center;
    justify-content: center;
    width: 100%;
    border: 1px solid white;
}


header{
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-bottom: 1px solid white;
}

.dels{
    width: 30px;
    background-color: dodgerblue;
    z-index: 10000;
    border-top: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 5px;
    padding-right: 9px;
}


.input span{
    padding: 4px 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


#addItem, #addSaleItem{
    padding: 8px 13px;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    box-shadow: 0 0 3px 0 wheat;
    display: flex;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
}


#addSaleItem{
    margin-top: 100px;
}

#addItem i{
    background-color: rgb(255, 255, 255);
    width: 18px;
    height: 18px;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#addItem:hover{
    box-shadow: inset 0 0 2px 0 white;
    transition: all 0.3s;
}


#itemBox, #saleitemBox{
    background-color: dodgerblue;
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;

}


.inputDiv{
    display: flex;
    width: 100%;
    align-items: center;
}

.inputDiv input{
    width: 100%;
    padding: 12px 3px;
    border-radius: none;
    border: none;
    border: 0.5px solid black;
    background-color: white;
}


#subtotal{
    color: black;
}


.footer{
    color: black;
    width: 95%;
    height: 220px;
    background-color: rgb(3, 92, 144);
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    padding: 20px;
    border: 5px solid#e4e4e4;
    border-radius: 5px;
}

#FooterMain{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: 10px;
}

.taxForm{
    display: flex;
    flex-direction: column;
    gap: 8px;
    background-color: white;
    padding: 30px 10px;
    box-shadow: inset 0 0 2px 0 #555;
    border-radius: 5px;
    border: 3px solid wheat;
}

.taxForm input{
    padding: 8px 4px;
    border: none;
    outline: none;
    border: 1px solid wheat;
    border-radius: 4px;
    width: 280px;
    box-shadow: inset 0 0 1px 0 #555;
}

.taxForm input:hover{
    box-shadow: none;
    transition: 0.3s;
}

.taxForm button{
    padding: 8px 13px;
    background-color: transparent;
    border: none;
    border: 1.5px solid wheat;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
    box-shadow: 0 0 2px 0 wheat;
}

.taxForm button:hover{
    box-shadow: none;
    transition: 0.3s;
}

.totalBox{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.totalBox p{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
}

#subtotal{
    color: white;
}

.totalBox input{
   text-align: right;
   padding: 7px;
   background-color: transparent;
   border: none;
   border-bottom: 1.5px solid white;
   outline: none;
   color: white;
}

.totalBox ::placeholder{
    color: rgb(245, 238, 238);
    letter-spacing: 0.5px;
}

.taxNum{
    text-align: left;
    width: 68%;
    font-size: 14px;
    margin-left: 5px;
}


.headerLogo{
    height: 150px;
    width: 94%;
    border: 2px solid white;
   margin: 20px;
}

#buttonAdd{
    text-align: right;
    width: 100%;
    padding-left: 30px;
}


.del{
    padding: 3px 8px;
    cursor: pointer;
}


#salesBox{
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    background-color: white;
    left: 0;
    z-index: 100000;
}


.div{
    width: 200px;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
    margin-top: 38px;
    border-radius: 5px;
    box-shadow: 0 0 3px 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    gap: 30px;
    text-transform: capitalize;

}

.div p{
    margin-top: 8px;
}

#salesPartyName{
    height: 27px;
    margin-top: 5px;
    outline: none;
}